apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hello-node
  namespace: dev
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  ingressClassName: nginx
  rules:
  - host: hellonode.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: hello-node
            port:
              number: 8080
